<footer>
    <div class="footer-container">
        <h2 class="footer-h2">Kontakt</h2>
        <h3 class="footer-h3">Viken Bryggeri</h3>
        <ul>
            <li>
                <i class="fa-solid fa-location-dot adress"></i> 
                <span class="list-text">Adress: Pottenborgsvägen 6, 26357 Höganäs</span>
            </li>
            <li>
                <i class="fa-solid fa-phone"></i>
                <span class="list-text">Telefon: 070-513 10 01</span> 
            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>
                <span class="list-text">Email: info@vikenbryggeri.se</span> 
            </li>
            <li>
                <i class="fa-brands fa-facebook-f footer-fb"></i>
                <span class="list-text">@Vikenbryggeri</span>
            </li>
            <li>
                <i class="fa-brands fa-instagram footer-insta"></i>
                <span class="list-text">@Vikenbryggeri</span>
            </li>
        </ul>
    </div>
    <div class="email-container">
        <h2 class="email-h2-p1">Prenumerera på vårt</h2>
        <h2 class="email-h2-p2">nyhetsbrev!</h2>
        <form action="" method="post">
            <label for="email"></label>
            <input type="email" name="email" id="email" required placeholder="Email">
        </form>
        <button class="input-button">Skicka</button>
    </div>
    
</footer>