<header>
    <div class="container">
        <h1 class="navTitle">Viken Bryggeri</h1>
        <nav class="navbar">
            <ul class="navbar-menu">
                <li class="nav-item">
                    <a href="/" class="nav-link">Hem</a>
                </li >
                <li class="nav-item">
                    <a href="/sortiment" class="nav-link">Vårt sortiment</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Om oss</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Kontakta oss</a>
                </li>
                    <div class="icon-container">
                        <li>
                            <a href=""><i class="fa-brands fa-facebook-f  icon fb"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-instagram icon insta"></i></a>
                        </li>
                    </div>
                
                <div class="close-menu"><i class="fa-solid fa-x"></i></div>
            </ul>
            
            <div class="hamburger">
                <i class="fa-solid fa-bars hamburger-menu"></i>
            </div>
            
        </nav>
    </div>
</header>