:root{
    --ella-color:156, 255, 250;
}
html {
    font-size: 16px; /* Adjust this value as needed */
}
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    background-color: #0C0F0A;
    height: auto;
}
section{
    min-height: none;
}
main{
    min-height: none;
}
.sortiment{
    background-image:none;
    color:#fff;
   display: flex;
   align-items: start;
   justify-content: center;
}


.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding:0 1.5em;
    max-width: 800px;
    
}

.section-container h1{
    font-family: 'Poppins';
    font-size:2rem;
    margin: 0.5em 0 0 0.5em;
}


.section-container p {
    font-size:0.8rem;
    line-height: 1.7;
}


.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#FFF;
}
.grid-item img{
    max-width: 80%; /* Set the maximum width of the image to the size of its container */
    height: auto;    /* Maintain the aspect ratio of the image */
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast; /* Webkit browsers like Chrome and Safari */
    image-rendering: optimizeQuality;
    -ms-interpolation-mode: nearest-neighbor; /* Internet Explorer */
    margin-top:4em;
    max-width:250px;
    transition: 0.2s all ease-in-out;
    
}
.grid-item:hover img {
    transform: scale(1.07);
}
.grid-item h3{
    font-size:2rem;
    margin-top:1em;
}
.ella{
    color:#9CFFFA;
}
.fortet{
    color:#4464AD;
}
.neighbours{
    color:#EC91D8;
}
.pilsner{
    color:#5FAD41;
}
.summer{
    color:#F9A620;
}
.svinbådan{
    color:#314CB6;
}
.weiss{
    color:#7D4600;
}

.grid-item button{
    padding: 0.7em 1.5em;
    color:#FFF;
    background-color: #0C0F0A;
    font-size: 1.4rem;
    font-weight: 900;
    transition: ease-out 0.3s;
    font-family: "Roboto",sans-serif;
    text-shadow: 2px 2px black;
    border-radius: 2px;
    position: relative;
    z-index: 1;
}
.grid-item button:hover{
    cursor: pointer; 
}
.ella-button{
    border: 2px solid #9CFFFA;
    
}
.ella-button::before{
    background-color: #6DB2AF;
}
.fortet-button{
    border: 2px solid #4464AD;
}
.fortet-button::before{
    background-color: #2F4679;
}
.isskeppet-button{
    border:2px solid #fff;
}
.isskeppet-button::before{
    background-color: #CCCCCC;
}
.neighbours-button{
    border:2px solid #EC91D8;
}
.neighbours-button::before{
    background-color: #BC74AC;
}
.pilsner-button{
    border:2px solid #5FAD41;
}
.pilsner-button::before{
    background-color: #4C8A34;
}
.summer-button{
    border: 2px solid #F9A620;
}
.summer-button::before{
    background-color: #C78419;
}
.svinbådan-button{
    border:2px solid #314CB6;
}
.svinbådan-button::before{
    background-color: #273C91;
}
.weiss-button{
    border:2px solid #7D4600;
    margin-bottom:4em;
}
.weiss-button::before{
    background-color: #643800;
}
.grid-item button::before{
    transition: 0.3s all ease;
    position: absolute;
    top:0;
    left:0;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    
}

.grid-item button:hover::before{
    transition: 0.3s all ease;
    right:0;
    opacity: 1;
    z-index: -1;
}
@media(min-width:250px){
    .grid-item img{
        max-width:300px;
    }
}

@media(min-width:550px){
    .grid-item h3{
        font-size:3rem;
        margin: 0.5em 0;
    }
    .grid-item button{
        font-size:1.6rem;
    }
    .grid-item img{
        max-width:400px;
    }
}

@media(min-width:625px){
    
    .section-container h1{
        font-size: 3rem;
    }
    .section-container p {
        font-size : 1rem;
    }
}
@media(min-width:800px){

}

@media(min-width:1000px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        max-width: 1700px;
        margin:0 auto;
        gap:2em;
        margin-top:10em;
        margin-bottom:10em;
        padding:0 2.9em;
    }
    .grid-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:#fff;
    }
    .weiss-button{
        margin-bottom: 0;
    }
    .grid-item img{
        max-width:100%;
    }
    .section-container h1{
        font-size:4.5rem;
    }
    .section-container p {
        font-size:1.4rem;
    }
    .section-container{
        max-width: 1000px;
    }
    .grid-item h3{
        font-size:1.5rem;
    }
    .grid-item button{
        font-size:1.4rem;
    }

    
}

@media(min-width:1572px){
    .grid-item img{
        max-width:100%;
    }
    .grid-container{
        gap:2em;
    }
    .grid-item h3{
        font-size: 2.5rem;
    }
    .grid-item button{
        font-size:1.6rem;
    }
}